@model WebPowerApp.Models.EmployeeModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<h4>Create Employee</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-row">
                <div class="form-group  col-md-6">
                    <label asp-for="Username" class="control-label"></label>
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @maxlength = "256" })
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group  col-md-6">
                    <label asp-for="FullName" class="control-label"></label>
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @maxlength = "250" })
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group  col-md-6">
                    <label asp-for="Designation" class="control-label"></label>
                    @Html.TextBoxFor(m => m.Designation, new { @class = "form-control", @maxlength = "100" })
                    <span asp-validation-for="Designation" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group  col-md-6">
                    <label asp-for="Role" class="control-label"></label>
                    @Html.DropDownListFor(m => m.RoleId, new SelectList(ViewBag.RoleList, "Value", "Text"), "Select Role", new { @class = "form-control" })
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group  col-md-6">
                    <label asp-for="Password" class="control-label"></label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @maxlength = "35" })
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            

            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i>Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
